{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>WS Chess</title>
  <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}" crossorigin="anonymous">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>
</head>
<body>

<div class="container">
  <div id="myBoard" style="width: 400px"></div>
</div>

<script>
  let board;
  let url = `ws://${window.location.host}/ws/socket-server/`;
  const chatSocket = new WebSocket(url);
  chatSocket.onmessage = function(e) {
    let data = JSON.parse(e.data);
    console.log('D:', data);
    if (data.type === 'chat') {
      board.position(data.message);
    }
  }
  function onDrop (source, target, piece, newPos, oldPos, orientation) {
    console.log(piece + ': ' + source + ' => ' + target);
    chatSocket.send(JSON.stringify({
      message: Chessboard.objToFen(newPos)
    }));
  }
  function init_game() {
    const config = {
      position: "{{ newPos }}",
      draggable: true,
      moveSpeed: 'slow',
      dropOffBoard: 'trash',
      sparePieces: false,
      onDrop: onDrop,
    };
    board = Chessboard('myBoard', config);
  }
  init_game();
</script>

</body>
</html>
